.link {
  text-decoration: none;                  /*нижнее подчеркивание выглядит на макете по другому, поэтому я решил использовать границу,*/
  border-bottom: 1px solid currentColor;  /* так как сместить подчеркивание нельзя. И со временем придумал все такие ссылки в класс*/
}

.header {
  margin: 92px 24px 30px;
  padding: 0 27px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.header__link,
.header__link_active {
  text-decoration: none;
  text-wrap: nowrap;
}

.header__links-list-item {
  text-wrap: nowrap;
  list-style: circle;
  letter-spacing: 0.01em;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  margin-right: 84px;
  justify-self: center;
}

.header__logo-image {
  width: 150.2px;
  height: 105px;
}

.header__address {
  justify-self: center;
  padding-left: 10%;
  grid-column: 3/4;
}

.address {
  line-height: 24.3px;
  font-style: normal;
}

.address__links {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  inset: 0;
  top: -66px;
  width: 1100px;
  height: 757px;
  text-transform: uppercase;
  color: white;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
  opacity: 1;
  width: 100%;
  height: 100%;
}

.cover__title {
  position: relative;
  margin: 158px 50px auto;
  padding-top: 156px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.cover__title__letter-spacing {
  letter-spacing: 0.6em;
}

.aligned-text {
  line-height: 1.32em;
}

.aligned-text_center {
  display: block;
  margin: 0.02em 2.86em;
}

.aligned-text_right {
  display: block;
  line-height: 1.24em;
  margin-left: 5.84em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  gap: 79px;
  align-items: center;
  position: relative;
  inset: 123px 50px 51px 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.85em;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  background: transparent;
  border: 1px solid currentColor;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  box-sizing: content-box;
  padding: 11px 31px;
}

.lots {
  margin-top: 114px;
}

.lots__heading {
  margin-left: 1.6em;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 26px 24px 31px;
  justify-items: center;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px 49px 40px;
  width: 334px;
  height: 563px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  justify-content: start;
  top: 51px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

.card__title-line {
  border-bottom: 1px solid white;
}

.card__text {
  position: relative;
  margin-top: 2.5em;
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link {
  margin-left: 3.2em;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.about {
  display: flex;
  gap: 25px;
  margin: 25px 24px 28px;
  justify-items: center;
  list-style: none;
}

.about__column-image {
  position: static;
}

.about__logo {
  background-color: black;
  border-radius: 100%;
  margin-top: 9.8em;
  margin-left: 2.96em;
  padding: 63px 46px;
  width: 240px;
  height: 240px;
}

.about__column-text {
  flex-grow: 1;
  margin: 257px 3px 0 46px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 101px;
}

.about__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-letter-spacing-here {
  letter-spacing: 0.01em;
}

.about__text-letter-spacing-pretentious {
  letter-spacing: 0;
}

.about__text-letter-spacing-our {
  letter-spacing: 0.02em;
}

.about__text-letter-spacing-were {
  letter-spacing: -0.01em;
}

.about__text-letter-spacing-diary {
  letter-spacing: 0.03em;
}

.about__text-letter-spacing-they {
  letter-spacing: 0.04em;
}

.about__text-letter-spacing-unlucky {
  letter-spacing: 0.01em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 157px 51px 88px;
  font-size: 18px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
  margin-top: 1px;
  margin-left: 37px;
}

.footer__links-list-item_no-bullit {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
